force-app/main/default/flows/ASSET_BEFORE_SAVE_TRIGGER.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>BEFORE INSERT TRIGGER</description>
    <interviewLabel>ASSET - BEFORE SAVE TRIGGER {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASSET - BEFORE SAVE TRIGGER</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountRecord</name>
        <label>getAccountRecord</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateAccountOnAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GE_LGT_EM_SAPUniqueIdentifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_SAP_UniqueId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAccountOnAsset</name>
        <label>updateAccountOnAsset</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>getAccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountRecord</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
