force-app/main/default/flows/CASE_PRODUCT_AFTER_INSERT_TRIGGER.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assignDisputeVariables</name>
        <label>assignDisputeVariables</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>disputeRecordData.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GE_NAS_Case_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDisputeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.SAP_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ZRE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Customer_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Sold_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distributor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dispute_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDisputeVariables_0</name>
        <label>assignDisputeVariables</label>
        <locationX>578</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>disputeRecordData.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GE_NAS_Case_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDisputeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.SAP_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ZOR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Customer_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Sold_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distributor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dispute_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDisputeVariables_0_0</name>
        <label>assignDisputeVariables</label>
        <locationX>1018</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>disputeRecordData.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GE_NAS_Case_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDisputeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Customer_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Sold_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distributor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dispute_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDisputeVariables_0_0_0</name>
        <label>assignDisputeVariables</label>
        <locationX>1282</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>disputeRecordData.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GE_NAS_Case_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDisputeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Customer_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Sold_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distributor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dispute_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDisputeVariables_0_0_0_0</name>
        <label>assignDisputeVariables</label>
        <locationX>1546</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>disputeRecordData.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GE_NAS_Case_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDisputeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.SAP_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ZFDD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Customer_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Sold_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distributor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dispute_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDisputeVariables_0_0_0_0_0</name>
        <label>assignDisputeVariables</label>
        <locationX>1810</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>disputeRecordData.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GE_NAS_Case_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDisputeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.SAP_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ZCRD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Customer_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Sold_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distributor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dispute_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDisputeVariables_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>assignDisputeVariables</label>
        <locationX>2074</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>disputeRecordData.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GE_NAS_Case_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDisputeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.SAP_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ZCRD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Customer_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Sold_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distributor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dispute_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDisputeVariables_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>assignDisputeVariables</label>
        <locationX>2514</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>disputeRecordData.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GE_NAS_Case_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDisputeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.SAP_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ZRE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Customer_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Sold_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distributor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dispute_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDisputeVariables_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>assignDisputeVariables</label>
        <locationX>2778</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>disputeRecordData.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GE_NAS_Case_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDisputeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.SAP_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ZDR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Customer_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Sold_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distributor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dispute_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDisputeVariables_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>assignDisputeVariables</label>
        <locationX>3218</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>disputeRecordData.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GE_NAS_Case_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDisputeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.SAP_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ZOR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Customer_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Sold_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distributor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dispute_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDisputeVariables_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>assignDisputeVariables</label>
        <locationX>3482</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>disputeRecordData.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GE_NAS_Case_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDisputeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.SAP_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ZCR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Customer_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Sold_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distributor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dispute_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDisputeVariables_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>assignDisputeVariables</label>
        <locationX>3922</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>disputeRecordData.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GE_NAS_Case_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDisputeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.SAP_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ZCR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Customer_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Sold_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distributor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dispute_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDisputeVariables_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>assignDisputeVariables</label>
        <locationX>4186</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>disputeRecordData.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GE_NAS_Case_Number__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDisputeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.SAP_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ZOR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Customer_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disputeRecordData.Sold_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distributor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dispute_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkFlowSwitch</name>
        <label>checkFlowSwitch</label>
        <locationX>3284</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFlowSwitch.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_User_System_Administrator</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dispute_Exists</name>
        <label>Dispute Exists?</label>
        <locationX>1414</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>getDisputeRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_For_Existing_Dispute</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Product_to_Dispute</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_System_Administrator</name>
        <label>Is User System Administrator</label>
        <locationX>1414</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_For_Existing_Dispute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>System_Administrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e3j000001D2Yy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>sfdc.emailtocase@gecurrent.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAdminOverride</targetReference>
            </connector>
            <label>System Administrator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lost_Damage</name>
        <label>Lost/Damage</label>
        <locationX>4186</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Create_Dispute_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lost_Damaged_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Type_of_Problem1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDisputeVariables_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Lost/Damaged - Credit</label>
        </rules>
        <rules>
            <name>Lost_Damaged_Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Type_of_Problem1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDisputeVariables_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Lost/Damaged - Replacement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overage_Decision</name>
        <label>Overage Decision</label>
        <locationX>2778</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Create_Dispute_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Overage_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Type_of_Problem1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDisputeVariables_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Overage - Return</label>
        </rules>
        <rules>
            <name>Overage_Keep_Bill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Type_of_Problem1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Keep &amp; Bill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDisputeVariables_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Overage - Keep &amp; Bill</label>
        </rules>
    </decisions>
    <decisions>
        <name>OverrideActive</name>
        <label>OverrideActive</label>
        <locationX>1260</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Check_For_Existing_Dispute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AdminOverride__c.Switch_Off_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAdminOverride.Switch_Off_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAdminOverride.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_Sub_Type</name>
        <label>Shipping Sub Type</label>
        <locationX>3702</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Create_Dispute_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Overage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Case_Number__r.GE_NAS_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Overage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Overage_Decision</targetReference>
            </connector>
            <label>Overage</label>
        </rules>
        <rules>
            <name>Shortage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Case_Number__r.GE_NAS_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shortage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shortage_Decision</targetReference>
            </connector>
            <label>Shortage</label>
        </rules>
        <rules>
            <name>Lost_Damaged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Case_Number__r.GE_NAS_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost/Damaged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lost_Damage</targetReference>
            </connector>
            <label>Lost/Damaged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shortage_Decision</name>
        <label>Shortage Decision</label>
        <locationX>3482</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Create_Dispute_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shortage_Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Type_of_Problem1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDisputeVariables_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Shortage - Replacement</label>
        </rules>
        <rules>
            <name>Shortage_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Type_of_Problem1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDisputeVariables_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Shortage - Credit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sub_Decision</name>
        <label>Sub Decision</label>
        <locationX>578</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Create_Dispute_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Return_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Type_of_Problem1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDisputeVariables</targetReference>
            </connector>
            <label>Return - Return</label>
        </rules>
        <rules>
            <name>Return_Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Type_of_Problem1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDisputeVariables_0</targetReference>
            </connector>
            <label>Return - Replacement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Problem_Decision</name>
        <label>Type of Problem Decision</label>
        <locationX>2778</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Create_Dispute_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Returns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Case_Number__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returns</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Decision</targetReference>
            </connector>
            <label>Returns</label>
        </rules>
        <rules>
            <name>Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Case_Number__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warranty_Sub_Decision</targetReference>
            </connector>
            <label>Warranty</label>
        </rules>
        <rules>
            <name>Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Case_Number__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_Sub_Type</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
        <rules>
            <name>Pricing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Case_Number__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Dispute_Record</targetReference>
            </connector>
            <label>Pricing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warranty_Sub_Decision</name>
        <label>Warranty Sub Decision</label>
        <locationX>1678</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Create_Dispute_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Warranty_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Type_of_Problem1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDisputeVariables_0_0</targetReference>
            </connector>
            <label>Warranty - Return</label>
        </rules>
        <rules>
            <name>Warranty_Return_for_Analysis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Type_of_Problem1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return for Analysis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDisputeVariables_0_0_0</targetReference>
            </connector>
            <label>Warranty - Return for Analysis</label>
        </rules>
        <rules>
            <name>Warranty_Replace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Type_of_Problem1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replace</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDisputeVariables_0_0_0_0</targetReference>
            </connector>
            <label>Warranty - Replace</label>
        </rules>
        <rules>
            <name>Warranty_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Type_of_Problem1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDisputeVariables_0_0_0_0_0</targetReference>
            </connector>
            <label>Warranty - Credit</label>
        </rules>
        <rules>
            <name>Warranty_Return_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GE_NAS_Type_of_Problem1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return &amp; Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDisputeVariables_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Warranty - Return &amp; Credit</label>
        </rules>
    </decisions>
    <description>AFTER INSERT TRIGGER ON CASE PRODUCT (OBJECT: SHIPMENT_DETAIL__C)</description>
    <formulas>
        <name>TransactionID</name>
        <dataType>String</dataType>
        <expression>{!$Record.Invoice__c} &amp; &apos; | &apos; &amp; {!$Record.PO__c} &amp; &apos; | &apos; &amp; TEXT({!$Record.GE_NAS_Type_of_Problem1__c}) &amp; &apos; | &apos; &amp; {!$Record.Transaction_ID__c}</expression>
    </formulas>
    <interviewLabel>CASE PRODUCT - AFTER INSERT TRIGGER {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE PRODUCT - AFTER INSERT TRIGGER</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Dispute_Record</name>
        <label>Create Dispute Record</label>
        <locationX>2778</locationX>
        <locationY>2375</locationY>
        <connector>
            <targetReference>Update_Case_Product_Dispute_ID</targetReference>
        </connector>
        <inputReference>disputeRecordData</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_For_Existing_Dispute</name>
        <label>Check For Existing Dispute</label>
        <locationX>1414</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dispute_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_PO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PO__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transaction_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unique_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GE_NAS_Type_of_Problem1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dispute_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAdminOverride</name>
        <label>getAdminOverride</label>
        <locationX>1260</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OverrideActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e3j000001D2Yy</stringValue>
            </value>
        </filters>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AdminOverride__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDisputeRecordType</name>
        <label>getDisputeRecordType</label>
        <locationX>2778</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Problem_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispute_Request__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFlowSwitch</name>
        <label>getFlowSwitch</label>
        <locationX>3284</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkFlowSwitch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case Products</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flow_Switch__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Case_Product_to_Dispute</name>
        <label>Assign Case Product to Dispute</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>Dispute_Request__c</field>
            <value>
                <elementReference>Check_For_Existing_Dispute.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Product_Dispute_ID</name>
        <label>Update Case Product Dispute ID</label>
        <locationX>2778</locationX>
        <locationY>2495</locationY>
        <inputAssignments>
            <field>Dispute_Request__c</field>
            <value>
                <elementReference>disputeRecordData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3158</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getFlowSwitch</targetReference>
        </connector>
        <object>Shipment_Detail__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>disputeRecordData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dispute_Request__c</objectType>
    </variables>
</Flow>
