force-app/main/default/flows/CSM_TRACKER_CREATE_UPDATE_TRIGGER.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Changed</name>
        <label>Changed</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Build_Finished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Finish_Build__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finish_Build__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Sub_FLow</targetReference>
            </connector>
            <label>Build Finished</label>
        </rules>
        <rules>
            <name>New_CSM_Tracker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NEWRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOwnership</targetReference>
            </connector>
            <label>New CSM Tracker</label>
        </rules>
        <rules>
            <name>Record_Approved_for_New_CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New CSM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createAccess</targetReference>
            </connector>
            <label>Record Approved for New CSM</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccessRecordName</name>
        <dataType>String</dataType>
        <expression>{!$Record.End_User_Co__c} &amp; &quot; Access&quot;</expression>
    </formulas>
    <formulas>
        <name>NEWRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>CSM TRACKER - CREATE / UPDATE TRIGGER {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSM TRACKER - CREATE / UPDATE TRIGGER</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createAccess</name>
        <label>createAccess</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AccessRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.Daintree_Licensing__c.CSM_License_Creator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.CSM_License_Asset__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Daintree_Licensing__c.Access_Record_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>updateOwnership</name>
        <label>updateOwnership</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Order_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.Daintree_Licensing__c.CSM_License_Creator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Need Approval</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatus</name>
        <label>UpdateStatus</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Built</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Changed</targetReference>
        </connector>
        <object>Daintree_Order_Tracker__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Call_Sub_FLow</name>
        <label>Call Sub FLow</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>UpdateStatus</targetReference>
        </connector>
        <flowName>CSM_TRACKER_SUB_FLOW</flowName>
        <inputAssignments>
            <name>AssetID</name>
            <value>
                <elementReference>$Record.CSM_License_Asset__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AttachedLicenseFile</name>
            <value>
                <elementReference>$Record.Attach_License_File__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CSMLocation</name>
            <value>
                <elementReference>$Record.CSM_License_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderType</name>
            <value>
                <elementReference>$Record.Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TrackerID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
