force-app/main/default/flows/CSM_TRACKER_SUB_FLOW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Cust_On_Cloud_Add_On</name>
        <label>Email Cust On Cloud Add-On</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>Daintree_Order_Tracker__c.Daintree_Notify_On_Cloud_Add_On</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TrackerID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Cust_On_Cloud_Renewal</name>
        <label>Email Cust On Cloud Renewal</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <actionName>Daintree_Order_Tracker__c.Daintree_Notify_On_Cloud_Renewal</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TrackerID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Cust_On_Cloud_Renewal_with_Add_On</name>
        <label>Email Cust On Cloud Renewal with Add-On</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <actionName>Daintree_Order_Tracker__c.Daintree_Notify_On_Cloud_Renewal_with_Add_On</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TrackerID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Cust_On_Prem_Add_On</name>
        <label>Email Cust On Prem Add-On</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <actionName>Daintree_Order_Tracker__c.Daintree_Notify_On_Prem_Add_On_No_Attachment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TrackerID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Cust_On_Prem_Renewal</name>
        <label>Email Cust On Prem Renewal</label>
        <locationX>1634</locationX>
        <locationY>278</locationY>
        <actionName>Daintree_Order_Tracker__c.Daintree_Notify_On_Prem_Renewal_No_attachment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TrackerID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Cust_On_Prem_Renewal_with_Add_On</name>
        <label>Email Cust On Prem Renewal with Add-On</label>
        <locationX>1898</locationX>
        <locationY>278</locationY>
        <actionName>Daintree_Order_Tracker__c.Daintree_Notify_On_Prem_Renewal_with_Add_On_No_attachment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TrackerID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Warehouse_On_Prem_New_CSM</name>
        <label>Email Warehouse On Prem New CSM</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <actionName>Daintree_Order_Tracker__c.Daintree_Notify_Warehouse_On_Prem_New_CSM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TrackerID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Build_Finish_and_Location</name>
        <label>Build Finish and Location</label>
        <locationX>1106</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Cloud_Add_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CSMLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON CLOUD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add-On</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Cust_On_Cloud_Add_On</targetReference>
            </connector>
            <label>On Cloud - Add-On</label>
        </rules>
        <rules>
            <name>On_Cloud_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CSMLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON CLOUD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Cust_On_Cloud_Renewal</targetReference>
            </connector>
            <label>On Cloud - Renewal</label>
        </rules>
        <rules>
            <name>On_Cloud_Renewal_with_Add_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CSMLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON CLOUD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal with Add-On</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Cust_On_Cloud_Renewal_with_Add_On</targetReference>
            </connector>
            <label>On Cloud - Renewal with Add-On</label>
        </rules>
        <rules>
            <name>On_Cloud_New_CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CSMLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON CLOUD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New CSM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateAsset</targetReference>
            </connector>
            <label>On Cloud - New CSM</label>
        </rules>
        <rules>
            <name>On_Premise_New_CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CSMLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON PREMISE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New CSM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateAsset_0</targetReference>
            </connector>
            <label>On Premise - New CSM</label>
        </rules>
        <rules>
            <name>On_Premise_Add_On_Without_Attach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CSMLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON PREMISE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add-On</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AttachedLicenseFile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Cust_On_Prem_Add_On</targetReference>
            </connector>
            <label>On Premise - Add - On Without Attach</label>
        </rules>
        <rules>
            <name>On_Premise_Renewal_Without_Attach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CSMLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON PREMISE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AttachedLicenseFile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Cust_On_Prem_Renewal</targetReference>
            </connector>
            <label>On Premise - Renewal - Without Attach</label>
        </rules>
        <rules>
            <name>On_Premise_Renewal_with_Add_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CSMLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON PREMISE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal with Add-On</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AttachedLicenseFile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Cust_On_Prem_Renewal_with_Add_On</targetReference>
            </connector>
            <label>On Premise - Renewal with Add-On</label>
        </rules>
    </decisions>
    <description>SUB FLOW TO SEND EMAILS BASED ON CSM LOCATION AND ORDER TYPE</description>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>CSM TRACKER - SUB FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSM TRACKER - SUB FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateAsset</name>
        <label>updateAsset</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GE_DT_License_Created_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateAsset_0</name>
        <label>updateAsset</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Email_Warehouse_On_Prem_New_CSM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GE_DT_License_Created_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Build_Finish_and_Location</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AttachedLicenseFile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CSMLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TrackerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
