force-app/main/default/flows/DISPUTE_REQUEST_AFTER_INSERT_AFTER_UPDATE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>callReplaceWSDL_R_0_0_0</name>
        <label>callReplaceWSDL-R</label>
        <locationX>5198</locationX>
        <locationY>1008</locationY>
        <actionName>invocableReplaceWSDLCall</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>createLogEntry_Replacement_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>disID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>callReplaceWSDL_R_0_0_0_0</name>
        <label>callReplaceWSDL-R</label>
        <locationX>4670</locationX>
        <locationY>1008</locationY>
        <actionName>invocableReplaceWSDLCall</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>createLogEntry_Replacement_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>disID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>callReturnWSDL_LB_0_0</name>
        <label>callReturnWSDL-LB</label>
        <locationX>3350</locationX>
        <locationY>1008</locationY>
        <actionName>invocableReturnWSDLCall</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>createApprovalNotification_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>createLogEntry_Stock_Balancing_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>disID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>callStockBalancingReturnWSDL</name>
        <label>callStockBalancingReturnWSDL</label>
        <locationX>5990</locationX>
        <locationY>1008</locationY>
        <actionName>invocableStockBalancingReturnWSDLCall</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>createLogEntry_Stock_Balancing_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>disID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>callStockBalancingReturnWSDL_0</name>
        <label>callStockBalancingReturnWSDL</label>
        <locationX>710</locationX>
        <locationY>528</locationY>
        <actionName>invocableStockBalancingReturnWSDLCall</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>createLogEntry_Stock_Balancing_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>disID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>callWarrantyReplaceWSDL</name>
        <label>callWarrantyReplaceWSDL</label>
        <locationX>2558</locationX>
        <locationY>1008</locationY>
        <actionName>invocableWarrantyReplaceWSDLCall</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>createLogEntry_Warranty_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>disID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendEmail_Warranty_Return</name>
        <label>sendEmail - Warranty Return</label>
        <locationX>2030</locationX>
        <locationY>888</locationY>
        <actionName>Dispute_Request__c.Warranty_Return_Approval_Email</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>createLogEntry_Warranty</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>submitForApproval_Return</name>
        <label>submitForApproval - Return</label>
        <locationX>3790</locationX>
        <locationY>1824</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>createLogEntry_Warranty_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Return_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>submitForApproval_SB</name>
        <label>submitForApproval-SB</label>
        <locationX>6518</locationX>
        <locationY>768</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Return_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Dispute_Type</name>
        <label>Dispute Type</label>
        <locationX>6122</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Warranty_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.GE_NAS_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty Claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type</targetReference>
            </connector>
            <label>Warranty Claim</label>
        </rules>
        <rules>
            <name>Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.GE_NAS_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New RGA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAP_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZRE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Segmentation</targetReference>
            </connector>
            <label>Return</label>
        </rules>
        <rules>
            <name>Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.GE_NAS_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New RGA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAP_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lines_Approved</targetReference>
            </connector>
            <label>NEW RGA - Replacement</label>
        </rules>
        <rules>
            <name>Stockbalancing_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.eLight_Form_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stock Balancing Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Segmentation_and_Amount</targetReference>
            </connector>
            <label>Stockbalancing Return</label>
        </rules>
        <rules>
            <name>Shipping_Discrepancies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Type</targetReference>
            </connector>
            <label>Shipping Discrepancies</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dispute_Type_0</name>
        <label>Dispute Type</label>
        <locationX>446</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Warranty_Claim_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.GE_NAS_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty Claim</stringValue>
                </rightValue>
            </conditions>
            <label>Warranty Claim</label>
        </rules>
        <rules>
            <name>Return_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.GE_NAS_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New RGA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAP_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZRE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Segmentation_0</targetReference>
            </connector>
            <label>Return</label>
        </rules>
        <rules>
            <name>Replacement_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.GE_NAS_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New RGA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAP_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZOR</stringValue>
                </rightValue>
            </conditions>
            <label>Replacement</label>
        </rules>
        <rules>
            <name>Stockbalancing_Return_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.eLight_Form_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stock Balancing Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>callStockBalancingReturnWSDL_0</targetReference>
            </connector>
            <label>Stockbalancing Return</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_NOT_Equal_Rejected</name>
        <label>Does NOT Equal Rejected</label>
        <locationX>9125</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Clear_Next_Steps_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>NOT_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by CS Rep</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAP_BLANK</targetReference>
            </connector>
            <label>NOT Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>DR_Type</name>
        <label>DR Type</label>
        <locationX>7310</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SD_Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Products_0_0_0_0</targetReference>
            </connector>
            <label>SD - Replacement</label>
        </rules>
        <rules>
            <name>SD_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Products_0_0_0_0_0</targetReference>
            </connector>
            <label>SD - Credit</label>
        </rules>
    </decisions>
    <decisions>
        <name>DR_Type_0</name>
        <label>DR Type</label>
        <locationX>8102</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SD_Replacement_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Products_0_0_0_0_0_0</targetReference>
            </connector>
            <label>SD - Replacement</label>
        </rules>
        <rules>
            <name>SD_Credit_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Products_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>SD - Credit</label>
        </rules>
    </decisions>
    <decisions>
        <name>DR_Type_0_0</name>
        <label>DR Type</label>
        <locationX>8894</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SD_Return_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Products_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>SD - Return</label>
        </rules>
        <rules>
            <name>SD_Keep_Bill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Keep &amp; Bill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Products_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>SD - Keep &amp; Bill</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lines_Approved</name>
        <label>Lines Approved?</label>
        <locationX>5198</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Lines_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lines_Manually_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAP_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Products_0</targetReference>
            </connector>
            <label>No Lines Approved</label>
        </rules>
        <rules>
            <name>Lines_Approved_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lines_Manually_Approved__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAP_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Products_0_0</targetReference>
            </connector>
            <label>Lines Approved &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lines_Approved_Return</name>
        <label>Lines Approved?</label>
        <locationX>3790</locationX>
        <locationY>1488</locationY>
        <defaultConnector>
            <targetReference>submitForApproval_Return</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Lines_Approved_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lines_Manually_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAP_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZRE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Products_Return</targetReference>
            </connector>
            <label>No Lines Approved - Return</label>
        </rules>
        <rules>
            <name>Lines_Approved_0_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lines_Manually_Approved__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Products_Return_0</targetReference>
            </connector>
            <label>Lines Approved &gt; 0 - Return</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAP_BLANK</name>
        <label>SAP # BLANK?</label>
        <locationX>8036</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BLANK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispute_Type</targetReference>
            </connector>
            <label>BLANK?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segmentation</name>
        <label>Segmentation</label>
        <locationX>3790</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Lines_Approved_Return</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LB_Less_than_20K_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Segementation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discrepancy_Total__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>19999.99</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAP_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZRE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New RGA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sold_To__r.GE_LGT_EM_Sales_Org__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1CA1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Products_0_0_0</targetReference>
            </connector>
            <label>LB - Less than 20K - Return</label>
        </rules>
        <rules>
            <name>LB_Over_20K_OR_FD</name>
            <conditionLogic>((1 AND 4 AND 3) OR (2 AND 3)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Segementation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Segementation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAP_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZRE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discrepancy_Total__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by CS Rep</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lines_Approved_Return</targetReference>
            </connector>
            <label>LB - Over 20K OR FD</label>
        </rules>
        <rules>
            <name>LB_Less_than_20K_Sales_Org_1CA1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Segementation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discrepancy_Total__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>19999.99</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAP_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZRE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New RGA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sold_To__r.GE_LGT_EM_Sales_Org__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1CA1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by CS Rep</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lines_Approved_Return</targetReference>
            </connector>
            <label>LB - Less than 20K - Sales Org 1CA1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segmentation_0</name>
        <label>Segmentation</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>createApprovalNotification_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LB_Less_than_20K_Return_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Segementation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discrepancy_Total__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>19999.99</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAP_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZRE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New RGA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <label>LB - Less than 20K - Return</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segmentation_and_Amount</name>
        <label>Segmentation and Amount</label>
        <locationX>6386</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LB_Less_Than_20K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Segementation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discrepancy_Total__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>19999.99</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAP_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZRE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Products</targetReference>
            </connector>
            <label>LB - Less Than 20K</label>
        </rules>
        <rules>
            <name>LB_or_FD_Over_20K</name>
            <conditionLogic>(1 AND 3 AND 4) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Segementation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Segementation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discrepancy_Total__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAP_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZRE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>submitForApproval_SB</targetReference>
            </connector>
            <label>LB or FD - Over 20K</label>
        </rules>
    </decisions>
    <decisions>
        <name>STATUS</name>
        <label>STATUS</label>
        <locationX>1106</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APPROVED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispute_Type_0</targetReference>
            </connector>
            <label>APPROVED</label>
        </rules>
        <rules>
            <name>REJECTED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Next_Steps</targetReference>
            </connector>
            <label>REJECTED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sub_Type</name>
        <label>Sub Type</label>
        <locationX>8366</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lost_Damaged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost/Damaged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DR_Type</targetReference>
            </connector>
            <label>Lost/Damaged</label>
        </rules>
        <rules>
            <name>Shortage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shortage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DR_Type_0</targetReference>
            </connector>
            <label>Shortage</label>
        </rules>
        <rules>
            <name>Overage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Overage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DR_Type_0_0</targetReference>
            </connector>
            <label>Overage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>2558</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Dispute_Warranty</targetReference>
            </connector>
            <label>Type = Return</label>
        </rules>
        <rules>
            <name>Type_Replace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replace</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Products_Warranty_Replace</targetReference>
            </connector>
            <label>Type = Replace</label>
        </rules>
    </decisions>
    <formulas>
        <name>descriptionText</name>
        <dataType>String</dataType>
        <expression>{!$Record.Type__c} &amp; &apos; for &apos; &amp; {!$Record.Customer_PO__c} &amp; &apos; has been &apos; &amp; TEXT({!$Record.Status__c})</expression>
    </formulas>
    <formulas>
        <name>notificationText</name>
        <dataType>String</dataType>
        <expression>&apos;Dispute &apos; &amp; TEXT({!$Record.Status__c})</expression>
    </formulas>
    <interviewLabel>DISPUTE REQUEST - AFTER INSERT / AFTER UPDATE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DISPUTE REQUEST - AFTER INSERT / AFTER UPDATE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createApprovalNotification_0</name>
        <label>createApprovalNotification</label>
        <locationX>182</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Agent__c</field>
            <value>
                <elementReference>$Record.Case__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>descriptionText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>$Record.Sold_To__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Case__r.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification__c</field>
            <value>
                <elementReference>notificationText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Records_ID__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Service Request</stringValue>
            </value>
        </inputAssignments>
        <object>Connect_Notification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createApprovalNotification_0_0</name>
        <label>createApprovalNotification</label>
        <locationX>1502</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Agent__c</field>
            <value>
                <elementReference>$Record.Case__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>descriptionText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>$Record.Sold_To__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Case__r.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification__c</field>
            <value>
                <elementReference>notificationText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Records_ID__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Service Request</stringValue>
            </value>
        </inputAssignments>
        <object>Connect_Notification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createApprovalNotification_0_0_0</name>
        <label>createApprovalNotification</label>
        <locationX>10214</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Agent__c</field>
            <value>
                <elementReference>$Record.Case__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>descriptionText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>$Record.Sold_To__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Case__r.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification__c</field>
            <value>
                <elementReference>notificationText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Records_ID__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Service Request</stringValue>
            </value>
        </inputAssignments>
        <object>Connect_Notification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createApprovalNotification_0_0_0_0</name>
        <label>createApprovalNotification</label>
        <locationX>3350</locationX>
        <locationY>1128</locationY>
        <inputAssignments>
            <field>Agent__c</field>
            <value>
                <elementReference>$Record.Case__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>descriptionText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>$Record.Sold_To__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Case__r.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification__c</field>
            <value>
                <elementReference>notificationText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Records_ID__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Service Request</stringValue>
            </value>
        </inputAssignments>
        <object>Connect_Notification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLogEntry_Replacement_0_0</name>
        <label>createLogEntry - Replacement</label>
        <locationX>5462</locationX>
        <locationY>1128</locationY>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Replacement - Replace WSDL Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Dispute_Request__c</stringValue>
            </value>
        </inputAssignments>
        <object>Platform_Processing_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLogEntry_Replacement_0_0_0</name>
        <label>createLogEntry - Replacement</label>
        <locationX>4934</locationX>
        <locationY>1128</locationY>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Replacement - Replace WSDL Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Dispute_Request__c</stringValue>
            </value>
        </inputAssignments>
        <object>Platform_Processing_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLogEntry_Stock_Balancing_0</name>
        <label>createLogEntry - Stock Balancing</label>
        <locationX>6254</locationX>
        <locationY>1128</locationY>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Stock Balancing - Return WSDL Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Dispute_Request__c</stringValue>
            </value>
        </inputAssignments>
        <object>Platform_Processing_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLogEntry_Stock_Balancing_0_0</name>
        <label>createLogEntry - Stock Balancing</label>
        <locationX>974</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Stock Balancing - Return WSDL Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Dispute_Request__c</stringValue>
            </value>
        </inputAssignments>
        <object>Platform_Processing_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLogEntry_Stock_Balancing_0_0_0_0</name>
        <label>createLogEntry - Stock Balancing</label>
        <locationX>3614</locationX>
        <locationY>1128</locationY>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>LB Under 20K Auto Aprove - Return WSDL Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Dispute_Request__c</stringValue>
            </value>
        </inputAssignments>
        <object>Platform_Processing_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLogEntry_Warranty</name>
        <label>createLogEntry - Warranty</label>
        <locationX>2294</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Warranty Return - Send Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Dispute_Request__c</stringValue>
            </value>
        </inputAssignments>
        <object>Platform_Processing_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLogEntry_Warranty_0_0</name>
        <label>createLogEntry - Warranty</label>
        <locationX>4406</locationX>
        <locationY>1944</locationY>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Submit Approval - </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Dispute_Request__c</stringValue>
            </value>
        </inputAssignments>
        <object>Platform_Processing_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLogEntry_Warranty_0_0_0_0_0</name>
        <label>createLogEntry - Warranty</label>
        <locationX>2822</locationX>
        <locationY>1128</locationY>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Warranty Return - Send Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Dispute_Request__c</stringValue>
            </value>
        </inputAssignments>
        <object>Platform_Processing_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Clear_Next_Steps</name>
        <label>Clear Next Steps</label>
        <locationX>1502</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>createApprovalNotification_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Steps__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Next_Steps_0</name>
        <label>Clear Next Steps</label>
        <locationX>10214</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>createApprovalNotification_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Steps__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Dispute</name>
        <label>update Dispute</label>
        <locationX>5990</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>callStockBalancingReturnWSDL</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Dispute_0</name>
        <label>update Dispute</label>
        <locationX>4670</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>callReplaceWSDL_R_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Dispute_0_0</name>
        <label>update Dispute</label>
        <locationX>5198</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>callReplaceWSDL_R_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Dispute_0_0_0</name>
        <label>update Dispute</label>
        <locationX>3350</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>callReturnWSDL_LB_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Dispute_0_0_0_0</name>
        <label>update Dispute</label>
        <locationX>7046</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>Next_Steps__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Dispute_0_0_0_0_0</name>
        <label>update Dispute</label>
        <locationX>7310</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>Next_Steps__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Dispute_0_0_0_0_0_0</name>
        <label>update Dispute</label>
        <locationX>7838</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Dispute_0_0_0_0_0_0_0</name>
        <label>update Dispute</label>
        <locationX>8102</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Dispute_0_0_0_0_0_0_0_0</name>
        <label>update Dispute</label>
        <locationX>8630</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Dispute_0_0_0_0_0_0_0_0_0</name>
        <label>update Dispute</label>
        <locationX>8894</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Dispute_Warranty</name>
        <label>update Dispute - Warranty</label>
        <locationX>2030</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>sendEmail_Warranty_Return</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Submission_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Dispute_Warranty_0</name>
        <label>update Dispute - Warranty</label>
        <locationX>2558</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>callWarrantyReplaceWSDL</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Submission_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Products</name>
        <label>update Products</label>
        <locationX>5990</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>update_Dispute</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dispute_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Approval_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Shipment_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Products_0</name>
        <label>update Products</label>
        <locationX>4670</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>update_Dispute_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dispute_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Approval_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Shipment_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Products_0_0</name>
        <label>update Products</label>
        <locationX>5198</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>update_Dispute_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dispute_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>In_Approval_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Shipment_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Products_0_0_0</name>
        <label>update Products</label>
        <locationX>3350</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>update_Dispute_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dispute_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Approval_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Shipment_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Products_0_0_0_0</name>
        <label>update Products</label>
        <locationX>7046</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>update_Dispute_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dispute_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Approval_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Shipment_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Products_0_0_0_0_0</name>
        <label>update Products</label>
        <locationX>7310</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>update_Dispute_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dispute_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Approval_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Shipment_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Products_0_0_0_0_0_0</name>
        <label>update Products</label>
        <locationX>7838</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>update_Dispute_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dispute_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Approval_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Shipment_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Products_0_0_0_0_0_0_0</name>
        <label>update Products</label>
        <locationX>8102</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>update_Dispute_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dispute_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Approval_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Shipment_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Products_0_0_0_0_0_0_0_0</name>
        <label>update Products</label>
        <locationX>8630</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>update_Dispute_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dispute_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Approval_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Shipment_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Products_0_0_0_0_0_0_0_0_0</name>
        <label>update Products</label>
        <locationX>8894</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>update_Dispute_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dispute_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Approval_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Shipment_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Products_Return</name>
        <label>update Products - Return</label>
        <locationX>3526</locationX>
        <locationY>1608</locationY>
        <connector>
            <targetReference>submitForApproval_Return</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dispute_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Approval_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Shipment_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Products_Return_0</name>
        <label>update Products - Return</label>
        <locationX>3790</locationX>
        <locationY>1608</locationY>
        <connector>
            <targetReference>submitForApproval_Return</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dispute_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>In_Approval_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Shipment_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Products_Warranty_Replace</name>
        <label>update Products - Warranty Replace</label>
        <locationX>2558</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>update_Dispute_Warranty_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dispute_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Approval_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Shipment_Detail__c</object>
    </recordUpdates>
    <start>
        <locationX>4131</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 OR (2 AND 3 AND 4) OR (3 AND 2 AND 5) OR 6</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved by CS Rep</stringValue>
            </value>
        </filters>
        <filters>
            <field>Discrepancy_Total__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>19999.99</numberValue>
            </value>
        </filters>
        <filters>
            <field>Segementation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LB</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stock Balancing Return</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New RGA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected by CS Rep</stringValue>
            </value>
        </filters>
        <object>Dispute_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>STATUS</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>Run_2_Min_After</name>
            <connector>
                <targetReference>Does_NOT_Equal_Rejected</targetReference>
            </connector>
            <label>Run 2 Min After</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
